GNP_TZ=Europe/Paris
GNP_PUID=1000
GNP_PGID=1000
GNP_STEAM_APP_ID=3809400
GNP_STEAM_USER=anonymous
GNP_STEAM_PASSWORD=
GNP_STEAM_AUTH=
GNP_STEAM_BETA=
GNP_STEAM_BETA_PASSWORD=
GNP_GAME_UPDATE=true
GNP_FORCE_PLATFORM_WINDOWS=true
GNP_WINETRICKS_RUN=vcrun2022 dxvk sound=disabled
WINEDEBUG=-all
WINEDLLOVERRIDES=mscoree,mshtml=
GNP_SERVER_NAME=GNP_StarRupture_Server
GNP_SERVER_PASSWORD=
GNP_ADMIN_PASSWORD=changeme
GNP_IP_ADDRESS=0.0.0.0
GNP_GAME_PORT=7777
GNP_QUERY_PORT=27015
GNP_MAX_PLAYERS=4
GNP_AUTO_SAVE_INTERVAL=300
GNP_VERBOSE_LOGGING=false
GNP_FILTER_WINE_LOGS=true
GNP_EXTRA_ARGS=
